#contact{
  padding: 80px 0;
  background-color: #28536c;
  color: #fff;
}
#contact p,
#contact h1{
  text-align: center;
}
#contact .btn-default{
  padding: 12px 60px;
  margin: 15px;
  font-size: 18px;
  border: 1px solid #fff;
  transition: all .3s ease-in;
}
#contact .btn-default:hover{
  color: #fff;
  background-color: #081f3d;
}